<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/?app=home&cmd=main">Test Applikation</a>
        </div>
        <div class="navbar-collapse collapse">
            {% if attribute(session, 'auth::signin') == true %}
                <ul class="nav navbar-nav">
                    <li{{ app == 'secure' and cmd == 'main' ?  ' class="active"' : '' }}><a
                                href="/?app=secure&cmd=main">Home</a></li>
                    {% if 'admin' in session['auth::roles'] %}
                        <li{{ app == 'admin' and cmd == 'info' ?  ' class="active"' : '' }}><a
                                    href="/?app=admin&cmd=info">PHP Info</a></li>
                        <li{{ app == 'admin' and cmd == 'main' ? ' class="active"' : '' }}><a
                                    href="/?app=admin&cmd=main">Administration</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-user"></span>
                            {{ session[constant('\\Opf\\Auth\\AuthEventHandler::authName')] }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/?app=profile">Profil</a></li>
                            <li><a href="/?app=help">Help!</a></li>
                            <li class="divider"></li>
                            <li><a href="/?auth::logout">sign out</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li{{ cmd == 'main' ? ' class="active"' : '' }}><a href="/?app=home&cmd=main">Home</a></li>
                    <li{{ cmd == 'signup' ? ' class="active"' : '' }}><a href="/?app=home&cmd=signup">Sign Up</a></li>
                </ul>
                {% if showLoginForm != true %}
                    <form class="navbar-form navbar-right" role="form" action="/?app=secure&cmd=main" method="post">
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control" name="{{ authUsername }}">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control"
                                   name="{{ authPassword }}">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
